<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title>Pixelmon Blast Launcher</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <link type="text/css" rel="stylesheet" href="../node_modules/@coreui/icons/css/all.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../node_modules/uikit/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="../node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="../node_modules/uikit/dist/js//uikit-icons.min.js"></script>
    <style>
        body {
            /*background: url('assets/images/backgrounds/<%=bkid%>.jpg') no-repeat center center fixed;*/
            background-color: #0c0c0c;
            -webkit-user-select: none;
        }
        #main {
            display: none;
            height: calc(100% - 22px);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
        <%- include('loginOffline') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="loadSpinnerContainer">
                <img id="loadCenterImage" src="assets/images/LoadingSeal.png">
                <img id="loadSpinnerImage" class="rotating" src="assets/images/LoadingText.png">
            </div>
        </div>
    </div>
</body>
</html>